*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  align-items: center;
    background-image: linear-gradient(to bottom right, #005F73  ,#94D2BD);
}
tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}
table{
  width: 100%;
}

tbody tr:nth-child(2n){
  background-color: rgba(148, 210, 189,0.2);
}


.sortIcon{
  cursor: pointer;
}